body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header"
                         "nav contenido sidebar"
                         "footer footer footer";
}
header{
    display: grid;
    grid-template-columns: auto 3rem auto;
    grid-template-rows: auto;
    grid-column: header;

    align-items: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: nav/sidebar;
}
footer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column: footer;

    justify-items: center;
    align-items: center;
}

.logo{
    grid-column-start: 2;
}