body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header        header      header"
                         "main          main        main"
                         "footer        footer      footer";
}
header{
    display: grid;
    grid-column: header;
}
main{
    display: grid;
    grid-template-areas: "contenido contenido sidebar";
    grid-area: main;
}
footer{
    display: grid;
    grid-column: footer;
}
header,footer,.logo-nombre{
    justify-items: center;
    align-items: center;
}

/*    CLASES    */
.logo-nombre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logo titulo";
}
.contenido{
    grid-area: contenido;
}
.sidebar{
    grid-area: sidebar;
}