/* 
color: rgb(181, 218, 224);   Celeste
*/

/* Para que BODY ocupe toda la pantalla */
html,body{
  height: 100%;
}

body {
  background-color: rgb(52, 152, 219);
  margin-left: auto;
  margin-right: auto;
}
main{
  width: 95%;
  max-width: 1000px;
  margin: 10px auto 0px;
}
header,.logo{
  height: 5rem;
}
header,footer,body{
min-width: 420px;
}
p{
  white-space: pre-line;
}
/* CLASES */
.title{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.card{
  background-color: white;
  margin-bottom: 10px;
  padding: 0.6rem;
}
.card__postTitle{
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 1rem;
}
.card__title{
  margin-bottom: 1rem;
}
.card__subtitle{
  margin: 1rem 0px;
}
.card__text{
  text-indent: 30px;
}
.card__linkToPost{
  display: block;
  text-align: center;
  text-decoration: none;
  color: blue;
}
.card__title,.card__postTitle,.card__text{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: normal;
}
.sidebar{
  margin-left: 10px;
  max-width: 250px;
}
.sidebar .card__title{
  text-align: center;
}
.footer__text{
  font-size: 1.5rem;
}