/* 
color: rgb(181, 218, 224);   Celeste
*/

/* BODY ocupe toda la pantalla */
html,body{
  height: 100%;
}

body {
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
main{
  /* border: 2px solid red; */
  background-color: white;
  width: 95%;
  max-width: 1080px;
  margin: 5px auto;
}
header, footer,body{
  background-color: rgb(181, 218, 224);
  height: 3rem;
  min-width: 400px;
}

/* CLASES */
.logo {
  height: 3rem;
}
.titulo,p {
  margin: 0px;
}
.contenido{
  border-right: 10px solid rgb(181, 218, 224);
}
.contenido,.sidebar{
  padding: 20px;
}