@media screen and (max-width: 400px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "contenido"
                                "sidebar";
    }
}