@media (pointer:none), (pointer:coarse){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:    "content"
                                "sidebar";
    }

    footer p{
        font-size: 3rem;
    }
    header{
        height: 6rem;
        font-size: 1.5rem;
    }
    .card{
        margin-bottom: 20px;
    }
    .sidebar{
        margin-left: initial;
        margin-top: 10px;
        max-width: initial;
    }
    .sidebar .card{
        font-size: inherit;
    }
}